<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All Users</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
            id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->

        <script src="https://use.fontawesome.com/c560c025cf.js"></script>

    </head>

    <body>


        <div class="container">
            <div class="card ">
                <div class="card-header bg-dark text-light">

                    Admin
                    <a href="/admin" class="btn btn-outline-info btn-sm pull-right">Approve</a>
                    <a href="/items" class="btn btn-outline-info btn-sm pull-right">Go to home</a>

                    <a href="/allitems" class="btn btn-outline-info btn-sm pull-right">All Items</a>
                    <a href="/allusers" class="btn btn-outline-info btn-sm pull-right">Users</a>


                    <form action="/logoutadmin" style="display: inline;" method="post">
                        <button type="submit" class="btn btn-danger">Logout </button>
                    </form>


                </div>



            </div>
            <%-include('./partials/flash')  %> 
            <% for(let user of users ) {%>
                <div class="card-body">
                    <!-- PRODUCT -->


                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-2 text-center">
                            <img class="img-responsive" src="<%=user.profilePhoto%>" alt="prewiew" width="120"
                                height="80">
                        </div>
                        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                            <h4 class="product-name"><strong>
                                    <%=user.firstName %>
                                        <%=user.lastName %>
                                </strong></h4>
                            <h4>
                                <small>
                                    <%=user.email%>
                                </small>
                            </h4>


                        </div>


                        <form action="/blacklist/<%=user._id%>" method="post">
                            <button type="submit" class="btn btn-danger"><% if(user.isBlacklisted){ %> 
                                Unblock
                            <% }else{ %> 
                                Blacklist
                            <% } %> </button>
                        </form>
                    </div>
                </div>
                <% } %>
        </div>


    </body>

</html>